# ==========================================
# 1. СТАНДАРТНЫЕ ФАЙЛЫ СБОРКИ (Maven)
# ==========================================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Исключаем архивы (кроме maven-wrapper)
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 2. IDE (Среды разработки)
# ==========================================

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ==========================================
# 3. ЛОГИ И КЭШИ (Observability)
# ==========================================
*.log
logs/
/hs_err_pid*

# ==========================================
# 4. ОПЕРАЦИОННЫЕ СИСТЕМЫ (Мусор)
# ==========================================
### macOS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

### Windows ###
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# ==========================================
# 5. СЕКРЕТЫ И ЛОКАЛЬНЫЕ КОНФИГИ (Security! 🔥)
# ==========================================
# Файлы с локальными паролями и ключами
.env
.env.*
*.env
# Локальные профили Spring Boot, которые не должны лететь в Git
application-local.yml
application-local.properties
secrets/

# ==========================================
# 6. DOCKER И ЛОКАЛЬНЫЕ ДАННЫЕ (Инфраструктура)
# ==========================================
# Папки, куда Docker Compose будет складывать данные БД и Kafka на твоем компе
/docker/data/
/docker/postgres-data/
/docker/redis-data/
/docker/kafka-data/
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
